* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    background: url(../image/bg.png) repeat;
}

.show ul {
    width: 80%;
    margin: 3% 10%;
}

.relic {
    display: none;
}

.cc {
    display: block;
}

.show li {
    display: none;
}

.show img {
    width: 100%;
}

.relic {
    box-shadow: 2px 2px 8px #333333;
}

.show .shade {
    position: absolute;
    width: 80%;
    top: 7%;
    left: 10%;
}

.show .word {
    display: none;
    position: absolute;
    width: 10%;
    top: 13%;
    left: 13%;
    z-index: 1;
    -webkit-animation: float ease-in-out 1.5s infinite;
    animation: float ease-in-out 1.5s infinite;
}

.show .cc {
    display: block;
}

.show .current {
    display: block;
}


/* .left,
.right {
    position: absolute;
    top: 44%;
    left: 8%;
    width: 5%;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    background: #6b6b6d6b;
    color: #ffffff;
    z-index: 999;
}

.right {
    left: 87%;
    background-color: #6b6b6d6b;
} */

.choose ul {
    width: 100%;
    height: 90px;
    padding-left: 5%;
}

.choose li {
    width: 13%;
    float: left;
    opacity: .5;
}

.choose .on {
    width: 25%;
    opacity: 1;
}

li img {
    width: 100%;
}

.color {
    position: absolute;
    top: 15%;
    left: 80%;
    width: 8%;
    /* height: 50px; */
    /* padding-left: 5%; */
}

.color p {
    width: 100%;
    /* float: left; */
    /* opacity: .5; */
    margin-bottom: 25%;
}

.color img {
    border: 1px solid #ffffff;
}


/* .color .on {
    width: 15%;
    opacity: 1;
} */

.btn {
    width: 30%;
    height: 25px;
    margin: 5% auto;
    /* position: fixed;
    top: 95%;
    left: 36%; */
    /* border-radius: 8%; */
}

.btn img {
    width: 100%;
}


/* 动画 */

@-webkit-keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

p {
    /* text-align: center; */
    color: #a2423fbe;
    margin: 5% 8% 1%;
    font-size: 14px;
    font-family: 'STFangsong';
}

.move::before {
    /* position: absolute;
    top: 0;
    right: 0; */
    content: '↓';
    display: block;
    float: left;
    -webkit-animation: float 1.5s infinite;
    animation: float 1.5s infinite;
}

.move::before:nth-child(1) {
    /* position: absolute;
    top: 0;
    right: 0; */
    content: '↓';
    display: block;
    float: right;
    -webkit-animation: float 1.5s infinite;
    animation: float 1.5s infinite;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    color: #a2423fbe;
}


/* 简介 */

.introduce li {
    display: none;
    color: #a2423fbe;
    margin: 1% 8% 1%;
    font-size: 14px;
    line-height: 20px;
    font-family: 'STFangsong';
}

.introduce li p {
    color: #a2423fbe;
}

.introduce .on {
    display: block;
}

.introduce .i {
    color: #ac4541;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    text-shadow: 2px 2px 2px #edd5d4;
    text-align: center;
    margin: 0;
    margin-bottom: 5%;
}

.introduce .b {
    color: #daa250;
    display: none;
    font-size: 18px;
    margin: 2% 0 0;
    color: #a2423fbe;
}


/* 动画2 */

@-webkit-keyframes floatright {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes floatright {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}