* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'LiSu';
}

body {
    background: url(../image/bg.png) repeat;
}


/* 标题 */

h3 {
    width: 100%;
    text-align: center;
    margin: 3% auto 0;
}

h3 img {
    width: 40%;
}


/* 继承 */

.inherit input {
    display: none;
}

.inherit {
    position: relative;
    width: 100%;
    height: 290px;
}


/* .inherit img {
    position: absolute;
    top: 15%;
    right: 10%;
    width: 50%;
} */

.cultural {
    width: 90%;
    margin: 8% 5%;
}

.postmark {
    position: absolute;
    top: 36%;
    right: 0%;
    width: 30%;
    -webkit-animation: float ease-in-out 1.5s infinite;
    animation: float ease-in-out 1.5s infinite;
}


/* 祝福显示 */

.section {
    /* display: flex;
    flex-direction: row; */
    margin: 1% 10%;
    width: 80%;
}

.section div {
    margin-right: 20px;
}

.row {
    height: 50px;
    border-bottom: 1px solid #c19871;
}


/* 输入祝福 */

input::placeholder {
    color: #666666;
}

textarea {
    resize: none;
    text-decoration: solid;
    outline: none;
    background: transparent;
    border: none;
    /* border: 1px solid #000000; */
    position: absolute;
    top: 44%;
    left: 10%;
    width: 80%;
    height: 250px;
    line-height: 50px;
    font-size: 27px;
    font-family: 'KaiTi';
}


/* 动画 */

@keyframes fadein {
    0% {
        opacity: 0;
    }
    /*初始状态 透明度为0*/
    40% {
        opacity: 0;
    }
    /*过渡状态 透明度为0*/
    100% {
        opacity: 1;
    }
    /*结束状态 透明度为1*/
}


/* .link {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
} */


/* lianjie */

.link {
    width: 100%;
    text-align: center;
    margin: 5% 0;
}

.btn {
    display: block;
    width: 30%;
    height: 25px;
    border: none;
    margin: 5% 35%;
    /* position: fixed;
    top: 85%;
    left: 36%; */
    /* border-radius: 8%; */
}

.btn img {
    width: 100%;
}

@-webkit-keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes float {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}