* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    background: url(../image/screen.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

ul {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 10% 15%;
    /* background-color: pink; */
}

li {
    display: flex;
    justify-content: start;
    width: 40%;
    background: url(../image/sbg.png) no-repeat;
    background-size: cover;
    
    margin: 3% 2%;
}

.pic {
    /* float: left; */
    width: 27%;
    /* height: 200px; */
    background-color: #f0c888;
    border-radius: 50%;
    margin:2% 3%;
    z-index: 1;
    /* text-align: center; */
    /* line-height: 200px; */
}

.pic img {
    width: 100%;
    /* border-radius: 50%; */
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    min-width: 0;
    /* background-color: aqua; */
    font-size: 20px;
    font-family: 'STFangsong';
    color: #a7413dbe;
    font-weight: 700;
}
.nickname{
    font-size: 14px;
    font-weight: 400;
}
.blessing{
    width: 85%;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
}