* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

.pic,
.blessing {
    width: 100%;
}

.pic img {
    display: block;
    width: 375px;
    max-width: 100%;
}

.blessing {
    height: 80px;
    background-color: pink;
}

.blessing img {
    width: 290px;
    /* float: left; */
    vertical-align: middle;
    float: left;
}

.canvas {
    width: 82px;
    height: 82px;
    float: right;
}

#code {
    display: inline-block;
}


/* .section {
    display: none;
} */

.image {
    width: 320px;
    height: 568px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    background-color: pink;
    transform: translateX(-50%);
}

.alt {
    position: absolute;
    top: 575px;
    text-align: center;
    width: 100%;
}