 * {
     /* box-sizing: border-box; */
     margin: 0;
     padding: 0;
 }
 
 body {
     background: url(../image/bird.png) no-repeat center center;
     background-size: cover;
     background-attachment: fixed;
     /* background-color: #CCCCCC; */
 }
 
 .section {
     width: 320px;
     /* box-shadow: 2px 2px 8px #333333; */
     /* background: url(../image/bg.png) repeat; */
 }
 
 .pic,
 .blessing {
     width: 320px;
 }
 
 .pic img {
     display: block;
     width: 300px;
     margin: 10px 10px 0;
     padding-top: 10px;
     /* max-width: 100%; */
 }
 
 .blessing {
     height: 70px;
 }
 
 .blessing img {
     width: 320px;
     /* float: left; */
     vertical-align: middle;
     float: left;
 }
 
 .canvas canvas {
     width: 60px;
     height: 60px;
     position: absolute;
     top: 495px;
     left: 250px;
 }
 /* #code {
        display: inline-block;
    } */
 /* .section {
    display: none;
} */
 
 .final canvas {
     width: 320px;
 }
 
 .image {
     width: 320px;
     /* height: 568px;s */
     z-index: 1;
     position: absolute;
     top: 5%;
     left: 50%;
     /* background-color: pink; */
     transform: translateX(-50%);
     box-shadow: 2px 2px 8px #333333;
 }
 
 .alt {
     position: absolute;
     top: 575px;
     text-align: center;
     width: 100%;
 }
 
 .shade {
     position: absolute;
     width: 320px;
     top: 0;
     left: 0;
 }
 
 .pic .word {
     position: absolute;
     width: 32px;
     top: 43px;
     left: 18px;
     z-index: 1;
 }
 
 .alt {
     /* text-align: center; */
     color: #a2423fbe;
     margin: 8% auto 1%;
     font-size: 14px;
     font-family: 'STFangsong';
 }
 
 .final {
     display: none;
 }